{% extends 'rango/base.html' %}
{% load staticfiles %}

{% if category %}
    {% block title_block %}
        {{ category.name }}
    {% endblock %}
{% endif %}

{% block body_block %}
    {%  if category %}
        <div>
        <h1> {{ category.name }} </h1>

        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There is not page in Category</strong>
        {% endif%}
    </div>
    <div>
        <a href="{% url 'add_page' category.slug%}">Add Page</a>
    </div>

    {% else %}
        <div>The category does not exist</div>
    {% endif %}

{% endblock %}