{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <h1>Most Liked Categories</h1>
    {% if categories %}
    <ul>
      {% for category in categories %}
      <li> <a href="{% url 'show_category' category.slug%}">{{ category.name }} </a></li>

      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no categories present</strong>
    {% endif %}
    </div>
    <div>
        <h1>Mosted Viewed Pages</h1>
        {% if pages %}
            <ul>
            {% for page in pages %}
               <li> <a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }} </a></li>
            {% endfor %}
            </ul>
        {% else %}
        <strong> There is no page present </strong>
        {% endif %}
    </div>
    <div>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of mango"/>
    </div>

{% endblock %}