<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>

    <link rel="stylesheet" href="{% static "css/base.css" %}"/ >

    <script src="{% static "js/jquery.js" %}"></script>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        Hey there partner ! <br />
        <strong> {{ blodmessage }}</strong> <br />
    </div>

    <div>
    <h1>Most Liked Categories</h1>
    {% if categories %}
    <ul>
      {% for category in categories %}
      <li> <a href="/rango/category/{{ category.slug }}">{{ category.name }} </a></li>

      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no categories present</strong>
    {% endif %}
    </div>


    <div>
        <h1>Mosted Viewed Pages</h1>
        {% if pages %}
            <ul>
            {% for page in pages %}
               <li> <a href="{{ page.url }}">{{ page.title }} </a></li>
            {% endfor %}
            </ul>
        {% else %}
        <strong> There is no page present </strong>
        {% endif %}
    </div>

    <div>
        <a href="/rango/add_category/">Add New Category</a>
    </div>
    <div>
        <a href="/rango/about">About</a> <br />
        <img src="{{MEDIA_URL}}cat.jpg" alt="Picture of Rango" </img>
    </div>
</body>
</html>